.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ee002+0,5ee002+8,4cf232+10,57f269+19,57eb57+98,77e905+100 */
background: rgb(94,224,2); /* Old browsers */
background: -moz-linear-gradient(top, rgb(94,224,2) 0%, rgb(94,224,2) 8%, rgb(76,242,50) 10%, rgb(87,242,105) 19%, rgb(87,235,87) 98%, rgb(119,233,5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(94,224,2) 0%,rgb(94,224,2) 8%,rgb(76,242,50) 10%,rgb(87,242,105) 19%,rgb(87,235,87) 98%,rgb(119,233,5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(94,224,2) 0%,rgb(94,224,2) 8%,rgb(76,242,50) 10%,rgb(87,242,105) 19%,rgb(87,235,87) 98%,rgb(119,233,5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ee002', endColorstr='#77e905',GradientType=0 ); /* IE6-9 */
}
.top{
    display: flex;
    flex-flow: column;
    min-height: 150px;
    padding-top: 50px;
    padding-left: 50px;
}
.leafIcon { 
    width: 100px;
    height: 100px;
    background-image: url('/images/icons/leafsquare.png');
    background-repeat: no-repeat;
    background-size: 103px;
    background-position: -1.5px;
    border-radius: 100px;
    box-shadow: 3px 2px 10px;
}

.title{
    text-align: center;
    flex: 1 1 0;
    font-size: 8rem;
    width: 90%;
    /* text-shadow: 1px 1px 0.5px black, 
                -1px -1px 0.5px white, 
                1px -1px 0.5px lightgreen; */
    font-weight: 400;
    font-family: fantasy;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005700+0,52b152+2,008a00+83,005700+97,002400+100 */
    background: rgb(0,87,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(0,87,0) 0%, rgb(82,177,82) 2%, rgb(0,138,0) 83%, rgb(0,87,0) 97%, rgb(0,36,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(0,87,0) 0%,rgb(82,177,82) 2%,rgb(0,138,0) 83%,rgb(0,87,0) 97%,rgb(0,36,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(0,87,0) 0%,rgb(82,177,82) 2%,rgb(0,138,0) 83%,rgb(0,87,0) 97%,rgb(0,36,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005700', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.room {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}