.dashboard{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: lightgrey;
}

.logout{
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 50px;
    font-size: 0.7rem;
    text-shadow: 1px 1px 0.5px black;
    color: white;
    background: rgb(180,227,145);
    background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25, 1) 50%, rgba(180,227,145,1) 100%);
    background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196, 25,1) 50%,rgba(180,227,145,1) 100%);
    background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25, 1) 50%,rgba(180,227,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
    border-color: rgb(57, 187, 59);
    border-radius: 60px 0 60px 0;
    border-width: 2px;
    border-style: outset;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    margin: 0em;
    font-family: Arial;
    text-rendering: auto;
    line-height: 15px;
    font-weight: 400;
    margin-right: 20px;
}

.bloque{
    margin-top: 10px;
}

.searchUser {
    width: 70%;
    height: 30px;
    font-size: 1.3rem;
}

.navs{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5rem;
    background-color: white;
}

.navContacts, .navChats {
    height: 70px;
    width: 100%;
    background-color: gray;
    text-align: center;
    color: white;
}

.navContacts>*, .navChats>* {
    margin: 10px;
}

.contacts, conversations{
    width: 80%;
}

.contact, .conversation{
    height: 30px;
}

.contact>a, .conversation>a{
    text-decoration: none;
}